body {
  font-size: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 960px;
  background: #777;
  content: #ebebeb;
}

header, nav, footer {
  background: #ebebeb;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #777;
}

section {
  width: 495px;
  height: 300px;
  text-align: center;
  line-height: 20px;
  background: #ebebeb;
  color: #777;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

article {
  background: #777;
  color: #ebebeb;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  }

aside {
  width: 450px;
  height: 300px;
  text-align: center;
  color: #777;
  background: #ebebeb;
  float: left;
  margin: 10px 0px 20px 10px;
  
}

div {
    width: 150px;
    height: 150px;
    overflow: none;
}


h1 {
  width: auto;
  height: auto;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  color: #777;
  background: #ebebeb;
}

p {
  width: auto;
  height: auto;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #777;
  background: #ebebeb;
  text-align: center;
}

.clear {
  clear: both;
}

#relative {
  position: relative;
  width: auto;
  height: 200px;
  /*padding: 20px;*/
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: #777;
}

#absolute {
  position: absolute;
  top: 10px;
  left: 200px;
  right: 100px;
  bottom: 20px;
}
